# coding: utf-8

"""
    WSO2 API Manager - Admin

    This document specifies a **RESTful API** for WSO2 **API Manager** - Admin Portal.  It is written with [swagger 2](http://swagger.io/). 

    OpenAPI spec version: 0.11.0
    Contact: architecture@wso2.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class BlacklistApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def throttling_blacklist_condition_id_delete(self, condition_id, **kwargs):
        """
        Delete a Blocking condition
        Delete a Blocking condition 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_condition_id_delete(condition_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str condition_id: Blocking condition identifier   (required)
        :param str if_match: Validator for conditional requests; based on ETag. 
        :param str if_unmodified_since: Validator for conditional requests; based on Last Modified header. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.throttling_blacklist_condition_id_delete_with_http_info(condition_id, **kwargs)
        else:
            (data) = self.throttling_blacklist_condition_id_delete_with_http_info(condition_id, **kwargs)
            return data

    def throttling_blacklist_condition_id_delete_with_http_info(self, condition_id, **kwargs):
        """
        Delete a Blocking condition
        Delete a Blocking condition 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_condition_id_delete_with_http_info(condition_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str condition_id: Blocking condition identifier   (required)
        :param str if_match: Validator for conditional requests; based on ETag. 
        :param str if_unmodified_since: Validator for conditional requests; based on Last Modified header. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['condition_id', 'if_match', 'if_unmodified_since']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method throttling_blacklist_condition_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'condition_id' is set
        if ('condition_id' not in params) or (params['condition_id'] is None):
            raise ValueError("Missing the required parameter `condition_id` when calling `throttling_blacklist_condition_id_delete`")


        collection_formats = {}

        path_params = {}
        if 'condition_id' in params:
            path_params['conditionId'] = params['condition_id']

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']
        if 'if_unmodified_since' in params:
            header_params['If-Unmodified-Since'] = params['if_unmodified_since']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/throttling/blacklist/{conditionId}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def throttling_blacklist_condition_id_get(self, condition_id, **kwargs):
        """
        Retrieve a Blocking Condition
        Retrieve a Blocking Condition providing the condition Id 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_condition_id_get(condition_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str condition_id: Blocking condition identifier   (required)
        :param str if_none_match: Validator for conditional requests; based on the ETag of the formerly retrieved variant of the resourec. 
        :param str if_modified_since: Validator for conditional requests; based on Last Modified header of the formerly retrieved variant of the resource. 
        :return: BlockingConditions
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.throttling_blacklist_condition_id_get_with_http_info(condition_id, **kwargs)
        else:
            (data) = self.throttling_blacklist_condition_id_get_with_http_info(condition_id, **kwargs)
            return data

    def throttling_blacklist_condition_id_get_with_http_info(self, condition_id, **kwargs):
        """
        Retrieve a Blocking Condition
        Retrieve a Blocking Condition providing the condition Id 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_condition_id_get_with_http_info(condition_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str condition_id: Blocking condition identifier   (required)
        :param str if_none_match: Validator for conditional requests; based on the ETag of the formerly retrieved variant of the resourec. 
        :param str if_modified_since: Validator for conditional requests; based on Last Modified header of the formerly retrieved variant of the resource. 
        :return: BlockingConditions
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['condition_id', 'if_none_match', 'if_modified_since']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method throttling_blacklist_condition_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'condition_id' is set
        if ('condition_id' not in params) or (params['condition_id'] is None):
            raise ValueError("Missing the required parameter `condition_id` when calling `throttling_blacklist_condition_id_get`")


        collection_formats = {}

        path_params = {}
        if 'condition_id' in params:
            path_params['conditionId'] = params['condition_id']

        query_params = []

        header_params = {}
        if 'if_none_match' in params:
            header_params['If-None-Match'] = params['if_none_match']
        if 'if_modified_since' in params:
            header_params['If-Modified-Since'] = params['if_modified_since']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/throttling/blacklist/{conditionId}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='BlockingConditions',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def throttling_blacklist_get(self, **kwargs):
        """
        Get all blocking condtions
        Get all blocking condtions 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str accept: Media types acceptable for the response. Default is JSON. 
        :param str if_none_match: Validator for conditional requests; based on the ETag of the formerly retrieved variant of the resourec. 
        :param str if_modified_since: Validator for conditional requests; based on Last Modified header of the formerly retrieved variant of the resource. 
        :return: BlockingConditionsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.throttling_blacklist_get_with_http_info(**kwargs)
        else:
            (data) = self.throttling_blacklist_get_with_http_info(**kwargs)
            return data

    def throttling_blacklist_get_with_http_info(self, **kwargs):
        """
        Get all blocking condtions
        Get all blocking condtions 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str accept: Media types acceptable for the response. Default is JSON. 
        :param str if_none_match: Validator for conditional requests; based on the ETag of the formerly retrieved variant of the resourec. 
        :param str if_modified_since: Validator for conditional requests; based on Last Modified header of the formerly retrieved variant of the resource. 
        :return: BlockingConditionsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['accept', 'if_none_match', 'if_modified_since']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method throttling_blacklist_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']
        if 'if_none_match' in params:
            header_params['If-None-Match'] = params['if_none_match']
        if 'if_modified_since' in params:
            header_params['If-Modified-Since'] = params['if_modified_since']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/throttling/blacklist', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='BlockingConditionsList',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def throttling_blacklist_post(self, body, content_type, **kwargs):
        """
        Add a Blocking condition
        Add a Blocking condition 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_post(body, content_type, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param BlockingConditions1 body: Blocking condition object that should to be added  (required)
        :param str content_type: Media type of the entity in the body. Default is JSON.  (required)
        :return: BlockingConditions
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.throttling_blacklist_post_with_http_info(body, content_type, **kwargs)
        else:
            (data) = self.throttling_blacklist_post_with_http_info(body, content_type, **kwargs)
            return data

    def throttling_blacklist_post_with_http_info(self, body, content_type, **kwargs):
        """
        Add a Blocking condition
        Add a Blocking condition 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.throttling_blacklist_post_with_http_info(body, content_type, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param BlockingConditions1 body: Blocking condition object that should to be added  (required)
        :param str content_type: Media type of the entity in the body. Default is JSON.  (required)
        :return: BlockingConditions
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'content_type']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method throttling_blacklist_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `throttling_blacklist_post`")
        # verify the required parameter 'content_type' is set
        if ('content_type' not in params) or (params['content_type'] is None):
            raise ValueError("Missing the required parameter `content_type` when calling `throttling_blacklist_post`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/throttling/blacklist', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='BlockingConditions',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
